<div class="container text-center mt-4" fxFill>
  <div class="container">
    <p class="mat-display-2">
        هل تبحث عن العامل المناسب ؟             
    </p>
    <p class="mat-display-2" >
       هل تريد جمع الفريق المناسب لأنجاز مشروع ما ؟

    </p>
    <p class="" >
      نسعى من خلا هذا التطبيق ربط الأيدي العاملة الأردنية في جميع مجالات العمل على الساحة الأردنية مع الباحثين عن العمالة بشكل اني 
    </p>
    <p class="" >
        حيث انه من الممكن التعرض لأي عطل في البيت أو المنشئة أو المزرعة و في أي مكان ومن خلال موقعنا سوف تحصل على العامل المناسب من حيث قرب الموقع و الكفاءة
     </p>
  </div>
  <div class="dummy"></div>

     <div id="map"  class="container"fxFill>
     </div>
     
    </div>