.mat-sidenav-container,.mat-sidenav,.mat-sidenav-content{
    height: 100%;
}
.mat-sidenav{
    width:300px;
}
.example-spacer {
    flex: 1 1 auto;
  }
 
  .mat-tool-bar{
      width: 100%;
  }

  .dummy{
      width:80%
  }
  .title{
      letter-spacing: 3px;
      font-family: 'Abel', sans-serif;
  }
  

